.product-container {
  display: grid;

  row-gap: 16px;

  @media (min-width: calc($sideMargin * 2 + 600px)) {
    grid-template-columns: 1fr 600px 1fr;

    .layout-col-center {
      grid-column: 2;
    }

    .layout-col-wide {
      grid-column: 1 / 4;
    }
  }
}

.product-data-form {
  display: flex;
  flex-direction: column;

  // max-width: 600px;

  row-gap: 16px;
  margin: auto;
}

.product-data__row {}

.product-data__row-2 {
  display: flex;
  
  column-gap: 8px;

  .product-data__column {
    flex-grow: 1;
  }
}

.product-data__field-container, .product__cover-photo-container {
  display: flex;
  flex-direction: column;

  row-gap: 8px;
}

.product-data__field-label {
  padding: 0 14px;
}

.product-data__error {
  font-size: 0.75rem;
  color: $errorColor;
}

.product-data__error {
  padding: 0 14px;
}

.link-inner {
  width: max-content;
}

.product-data__checkbox-container {
  display: flex;
  flex-direction: column;

  row-gap: 4px;
}

.product__cover-photo {
  width: 100%;
}

.wide-section-container {
  display: flex;
  flex-direction: column;

  row-gap: 8px;
}

.wide-section__column-center {
  @media (min-width: calc(600px + 30px * 2)) {
    margin: auto;
    padding: 0;

    width: 600px;
  }
}

.wide-section__label {
  padding: 0 14px;
}

.wide-section__label.target, .product-data__field-label.target {
  text-decoration: underline;
}

.photos-sortable, .photos-drawer {
  display: grid;

  gap: 8px;
  margin: auto;

  @media (min-width: calc(320px * 2 + 8px + $sideMargin * 2)) {
    grid-template-columns: repeat(2, 320px);
  }

  @media (min-width: calc(320px * 3 + 8px * 2 + $sideMargin * 2)) {
    grid-template-columns: repeat(3, 320px);
  }

  @media (min-width: calc(320px * 4 + 8px * 3 + $sideMargin * 2)) {
    grid-template-columns: repeat(4, 320px);
  }
}

.photos-drawer .photos_drawer__item-container {
  width: max-content;
}

.photos-sortable .photos-sortable__photo, 
.photos-drawer .photos-drawer__photo {
  width: 320px;
  height: 280px;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.photos-drawer .photos-drawer__content-box {
  display: flex;
  flex-direction: column;

  padding: 8px;
}