#about {
  display: grid;
  grid-template-columns: 8px 1fr 8px;
  position: relative;
  padding: 665px 0px 50px 0px;

  background-color: black;
  overflow: hidden;

  .background-photo {
    position: absolute;
    top: 0px;
    left: -350px;
    mask: url('../assets/images/about-mask-vertical_01-01.svg');
    -webkit-mask: url('../assets/images/about-mask-vertical_01-01.svg');
  }

  .about__quote {
    grid-column: 2;

    margin: 0;
    padding: 0px;

    text-align: right;

    color: $accent;
    font-weight: 200;
    font-style: normal;

    z-index: 1;
  }

  @media (min-width: 325px) {
    grid-template-columns: 16px 1fr 16px;
  }

  @media (min-width: 500px) {
    .background-photo {
      left: -150px;
    }
  }

  @media (min-width: 650px) {
    padding: 665px 0px 100px 0px;

    .background-photo {
      left: 0px;
    }

    .about__quote {
      justify-self: flex-end;
      max-width: 350px;
    }
  }

  @media (min-width: 970px) {
    grid-template-columns: 16px 1fr 1fr 16px;
    height: 650px;
    padding: 0px;

    .background-photo {
      grid-column: 2 / 4;
      position: absolute;
      top: 50%;
      left: 0px;

      transform: translateY(-50%);

      mask: url('../assets/images/about-mask_01-01.svg') 0/101% 101%;
      -webkit-mask: url('../assets/images/about-mask_01-01.svg') 0/101% 101%;
    }

    .about__quote {
      grid-column: 3;
      align-self: center;
      justify-self: flex-end;

      max-width: 80%;
    }
  }

  @media (min-width: 1200px) {
    .about__quote {
      max-width: unset;
    }
  }

  // 1616px (320px (product-card width) * 5) + 16px (horizontal margin) * 2
  @media (min-width: 1648px) {
    grid-template-columns: 1fr 808px 808px 1fr;
  }
}
