$background-main: #FFE8F8;
$background-1: rgb(255, 238, 239);
$background-2: rgb(255, 228, 230);
$background-3: rgb(253, 210, 215);
$background-hover-0: rgb(156, 116, 207);
$background-hover-1: rgb(229, 216, 246);
$background-text-0: rgb(255, 228, 230);
$background-text-1: rgb(255, 210, 213);
$text-main: rgb(156, 7, 16);
$text-main-hover: rgb(47, 0, 107);
$text-main-bold: rgba(156, 7, 16, 0.87);
$text-main-bold-hover: #FF53CF;
$text-main-heading: rgba(156, 7, 16, 0.82);
$text-inactive-0: #57565B;
$text-inactive-1: rgb(109, 89, 89);
$text-minor: #8C8A8A;
$shadow-0: rgb(239, 186, 193);
$shadow-hover-0: rgba(200, 166, 243, 0.91);
$animation-text: 0.25s ease-in;

$primary: #07002a;
$accent: #f1ff00;
$link: #510035;
$primary-hover: #140077;
$background-one-inactive: #f7f5ff;
$background-one-active: #efebff;
$tag-one-positive: #028827;
$tag-one-negative: #aeaeae;
