@font-face {
  font-family: 'Lato';
  font-weight: 200;
  src: url('../assets/fonts/Lato2/Lato2OFLWeb/Lato/fonts/Lato-Thin.woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  src: url('../assets/fonts/Lato2/Lato2OFLWeb/Lato/fonts/Lato-Light.woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url('../assets/fonts/Lato2/Lato2OFLWeb/Lato/fonts/Lato-Medium.woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 600;
  src: url('../assets/fonts/Lato2/Lato2OFLWeb/Lato/fonts/Lato-Bold.woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url('../assets/fonts/Lato2/Lato2OFLWeb/Lato/fonts/Lato-Heavy.woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 800;
  src: url('../assets/fonts/Lato2/Lato2OFLWeb/Lato/fonts/Lato-Black.woff');
}
