.social-links {
  display: flex;
  column-gap: 8px;

  margin: 0;
  padding: 0px;

  list-style-type: none;

  .social-link {
    display: block;
  }

  .social-link-light.instagram {
    background-image: url('../assets/images/logo-instagram_light.svg');
  }

  .social-link-light.facebook {
    background-image: url('../assets/images/logo-facebook_light.svg');
  }

  .social-icon, .social-icon_light {
    display: block;

    transition: fill $animation-text;
  }

  .social-icon {
    fill: $text-main-bold;

    &:hover {
      fill: $text-main-hover;
    }
  }

  .social-icon_light {
    fill: $background-main;

    &:hover {
      fill: $text-main-hover-light;
    }
  }
}

.noned {
  display: none;
}

.bottom-up {
  transform: rotate(180deg);
}

.wrapper:has(.header-mobile_opened) {
  height: 100vh;
  overflow: hidden;
}

@mixin header-hidden {
  visibility: hidden;
  opacity: 0;
  margin-top: -9999px;
  margin-left: -9999px;

  transition: opacity 0.3s 0.3s ease-in, visibility 0s 0.6s, margin 0s 0.6s;
}

@mixin header-visible {
  visibility: visible;
  opacity: 1;
  margin-top: 0px;
  margin-left: 0px;

  transition: opacity 0.3s ease-in;
}

.notification-container {
  display: grid;
  grid-template-columns: 25px 1fr 15px;
  justify-items: flex-end;

  position: fixed;
  left: 0px;
  bottom: 38px;

  width: 100vw;

  visibility: visible;
  opacity: 1;

  transition: opacity $animation-text;
}

.notification-container.hidden {
  transition: opacity $animation-text, visibility 0s 0.25s, margin 0s 0.25s;

  opacity: 0;
  visibility: hidden;
  margin-left: -9999px;
  margin-right: -9999px;
}

.page_home .notification-container {
  // min-width same as header and footer
  @media (min-width: 1405px) {
    grid-template-columns: 1fr 1355px 1fr;
  }
}

.page_product .notification-container {
  // min-width same as header and footer
  @media (min-width: 1472px) {
    grid-template-columns: 1fr 1440px 1fr;
  }
}

.notification {
  grid-column: 2;
}