.logo-container {
  grid-column: 2;
  grid-row: 1;

  width: max-content;

  .logo {
    width: 32px;
    height: 32px;
  
    
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.header-container:has(.header-mobile_opened) {
  .header-desktop {
    visibility: hidden;
    transition: visibility 0s 0.3s;
  }
}

.header-desktop {
  display: grid;
  grid-template-columns: 16px 1fr 16px;
  align-items: center;

  visibility: visible;

  height: 75px;
  color: $text-main;

  .logo {
    background-image: url('../assets/images/logo.svg');
  }

  .nav-main {
    display: none;
  }

  #menu-open {
    grid-column: 2;
    grid-row: 1;
    justify-self: flex-end;

    display: flex;

    width: 24px;
    height: 24px;

    .icon-hamburger {
      width: 100%;

      margin: auto;

      transition: fill $animation-text;
      fill: $text-main-bold;

      &:hover {
        fill: $text-main-hover;
      }
    }
  }

  @media (min-width: 325px) {
    grid-template-columns: 25px 1fr 25px;

    .nav-main {
      display: block;
      grid-column: 2;
      grid-row: 1;
      justify-self: flex-end;

      .nav-links {
        display: flex;
      
        margin: 0;
        padding: 0px;
        column-gap: 24px;

        list-style-type: none;

        .nav-link {
          transition: color $animation-text;
        }
  
        .nav-link:hover {
          color: $text-main-hover;
        }
      }
    }

    #menu-open {
      display: none;
    }
  }
}

.header-mobile {
  position: fixed;
  top: 0px;
  left: 0px;
  
  width: 100vw;
  height: 100vh;

  // see Mobile menu view in product spec
  overflow-y: scroll;
  z-index: 20;

  background-color: $text_main;
  color: $background-main;

  @include header-hidden;

  &.header-mobile_opened {
    @include header-visible;
  }

  .header-mobile__content {
    display: grid;
    grid-template-columns: 16px 1fr 16px;
    grid-template-rows: 75px 1fr;
    align-items: center;

    width: 100%;
    height: 100%;

    transition: opacity 0.3s ease-out;
    opacity: 0;

    .logo {
      background-image: url('../assets/images/logo-light.svg');
    }
    
    .nav-main {
      grid-column: 2;
      grid-row: 2;
      justify-self: flex-start;
  
      display: flex;
      flex-direction: column;
  
      row-gap: 20px;
  
      .nav-links {
        display: flex;
        flex-direction: column;
        
        margin: 0;
        padding: 0px;
        row-gap: 8px;
  
        list-style-type: none;
  
        .nav-link {
          transition: color $animation-text;
        }
  
        .nav-link:hover {
          color: $text-main-hover-light;
        }
      }
  
      .social-links {
        display: flex;

        .social-icon_light {
          width: 24px;
          height: 24px;
        }
      }
    }
  
    #menu-close {
      grid-column: 2;
      grid-row: 1;
      justify-self: flex-end;
  
      display: flex;

      width: 24px;
      height: 24px;

      .icon-close {
        margin: auto;

        width: 100%;

        transition: fill $animation-text;
        fill: $background-main;

        &:hover {
          fill: $text-main-hover-light;
        }
      }
    }
  
    #timestamp {
      grid-row: 3;
      grid-column: 2;
  
      margin: 20px 0 30px 0;
    }
  
    #logo {
      background-image: url('../assets/images/logo-light.svg');
    }
  }

  &.header-mobile_opened .header-mobile__content {
    transition: opacity 0.3s 0.3s ease-out;
    opacity: 1;
  }

}

.page_home .header-desktop {
  // 1405px = 320px (product-card width) * 4 + 25px (grid column-gap) * 3 + 25px (horizontal margin) * 2
  @media (min-width: 1405px) {
    // 320px (product-card width) * 4 + 25px (grid column-gap) * 3
    grid-template-columns: 1fr 1355px 1fr;
  }
}

.page_product .header-desktop {
  // 1440px + 16px * 2
  @media (min-width: 1472px) {
    grid-template-columns: 1fr 1440px 1fr;
  }
}
