#products {
  display: grid;
  grid-template-columns: 16px 1fr 16px;
  margin: 0 0 100px 0;

  @media (min-width: 325px) {
    grid-template-columns: 25px 1fr 25px;
  }

  // 1405px = 320px (product-card width) * 4 + 25px (grid column-gap) * 3 + 25px (horizontal margin) * 2
  @media (min-width: 1405px) {
    // 320px (product-card width) * 4 + 25px (grid column-gap) * 3
    grid-template-columns: 1fr 1355px 1fr;
  }
}

.products-container {
  grid-column: 2;
  margin: auto;
}

.product-cards {
  grid-column: 2;
  display: grid;

  column-gap: 25px;
  row-gap: 18px;

  margin: 0;
  padding: 0px;

  /* 320px: product-card width; 16px: horizontal margin; 4px: column-gap; */
  @media (min-width: calc(320px * 2 + 25px * 2 + 25px)) {
    grid-template-columns: repeat(2, 320px);
  }

  @media (min-width: calc(320px * 3 + 25px * 2 + 25px * 2)) {
    grid-template-columns: repeat(3, 320px);
  }

  @media (min-width: calc(320px * 4 + 25px * 2 + 25px * 3)) {
    grid-template-columns: repeat(4, 320px);
  }
}

.product-card {
  width: 100%;

  padding: 0px;
  margin: 0px;

  list-style-type: none;

  .product-card__photo-container {
    display: block;

    margin: 0 0 10px 0;
  }

  .product-card__photo {
    width: 100%;
    aspect-ratio: 1.38;

    object-fit: cover;
  }

  .product-card__info {
    margin: 0 0 10px 0;

    transition: color $animation-text;

    .product-card__price,
    .product-card__name,
    .product-card__out-of-stock {
      display: block;

      margin: 0;
      padding: 0px;

      transition: inherit;
    }

    .product-card__price {
      font-weight: 600;
      color: $text-main-bold;
    }

    .product-card__out-of-stock {
      font-weight: 600;
      color: $text-inactive-0;
    }
  }

  &:hover {
    color: $text-main-hover;

    .product-card__price {
      color: $text-main-hover;
    }
  }

  @media (min-width: calc(320px + 25px * 2)) {
    width: 320px;

    .product-card__photo {
      aspect-ratio: unset;
      width: 320px;
      height: 280px;
    }
  }
}
